body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(170deg, deepskyblue, navy);
  padding: 50px;
}

@media (max-width: 600px) { 
  body {
    padding: 0px 10px 5px 10px;
    align-items: center;
  }
}